USE [master]
GO
/****** Object:  Database [Swing_QuanLyBH]    Script Date: 12/31/2025 1:06:59 PM ******/
CREATE DATABASE [Swing_QuanLyBH]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Swing_QuanLyBH', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Swing_QuanLyBH.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Swing_QuanLyBH_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Swing_QuanLyBH_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Swing_QuanLyBH].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Swing_QuanLyBH]
GO
/****** Object:  Table [dbo].[ACCOUNTS]    Script Date: 12/31/2025 1:06:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACCOUNTS](
	[id_account] [int] IDENTITY(1,1) NOT NULL,
	[email] [nvarchar](200) NOT NULL,
	[passwordHash] [varbinary](64) NOT NULL,
	[Salt] [nvarchar](36) NOT NULL,
	[id_role] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_account] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ADMINS]    Script Date: 12/31/2025 1:06:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ADMINS](
	[id_admin] [int] IDENTITY(1,1) NOT NULL,
	[fullname] [nvarchar](100) NOT NULL,
	[phone] [varchar](15) NULL,
	[sex] [nvarchar](10) NULL,
	[status] [bit] NULL,
	[id_account] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_admin] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BRANDS]    Script Date: 12/31/2025 1:06:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BRANDS](
	[id_brand] [int] IDENTITY(1,1) NOT NULL,
	[name_brand] [nvarchar](200) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_brand] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CATEGORIES]    Script Date: 12/31/2025 1:06:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CATEGORIES](
	[id_category] [int] IDENTITY(1,1) NOT NULL,
	[name_category] [nvarchar](200) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_category] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CUSTOMERS]    Script Date: 12/31/2025 1:06:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CUSTOMERS](
	[id_customer] [int] IDENTITY(1,1) NOT NULL,
	[name_customer] [nvarchar](100) NOT NULL,
	[phone] [varchar](15) NULL,
	[address] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_customer] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ORDERDETAILS]    Script Date: 12/31/2025 1:06:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ORDERDETAILS](
	[price] [decimal](18, 0) NULL,
	[quantity] [int] NULL,
	[total_price]  AS ([quantity]*[price]),
	[id_order] [int] NOT NULL,
	[id_product] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_order] ASC,
	[id_product] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ORDERS]    Script Date: 12/31/2025 1:06:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ORDERS](
	[id_order] [int] IDENTITY(1,1) NOT NULL,
	[createdAT] [datetime] NULL,
	[Total] [decimal](18, 0) NULL,
	[id_admin] [int] NULL,
	[id_customer] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_order] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCTS]    Script Date: 12/31/2025 1:06:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCTS](
	[id_product] [int] IDENTITY(1,1) NOT NULL,
	[name_product] [nvarchar](200) NOT NULL,
	[description] [nvarchar](max) NULL,
	[price] [decimal](18, 0) NOT NULL,
	[stock] [int] NOT NULL,
	[id_category] [int] NULL,
	[id_brand] [int] NULL,
	[image_path] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_product] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ROLES]    Script Date: 12/31/2025 1:06:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROLES](
	[id_role] [int] IDENTITY(1,1) NOT NULL,
	[name_role] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_role] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ACCOUNTS] ON 

INSERT [dbo].[ACCOUNTS] ([id_account], [email], [passwordHash], [Salt], [id_role]) VALUES (9, N'admin', 0x69C44BCC07620D00DD2F2C12DA1BAF710B291E8CB0F7B183C8C4CDFD372C137E, N'0669F387-04B4-40F2-B167-A780ADEF681C', 1)
INSERT [dbo].[ACCOUNTS] ([id_account], [email], [passwordHash], [Salt], [id_role]) VALUES (10, N'nv', 0xE5C4ABFCEEB893CB27E62FC92BB0936762F6C752F386837D1CECA9404ADF91D9, N'3db87ec1-5687-41f2-b81b-57221fad8644', 2)
INSERT [dbo].[ACCOUNTS] ([id_account], [email], [passwordHash], [Salt], [id_role]) VALUES (11, N'keldboiz', 0x921770BA516A47737D8B27BC424745066F5410450EE585E39FBEA91E2B76D547, N'7e0409ae-292b-4fac-9741-76f1661d8145', 1)
SET IDENTITY_INSERT [dbo].[ACCOUNTS] OFF
GO
SET IDENTITY_INSERT [dbo].[BRANDS] ON 

INSERT [dbo].[BRANDS] ([id_brand], [name_brand]) VALUES (1, N'Yonex')
INSERT [dbo].[BRANDS] ([id_brand], [name_brand]) VALUES (2, N'Lining')
INSERT [dbo].[BRANDS] ([id_brand], [name_brand]) VALUES (3, N'Victor')
SET IDENTITY_INSERT [dbo].[BRANDS] OFF
GO
SET IDENTITY_INSERT [dbo].[CATEGORIES] ON 

INSERT [dbo].[CATEGORIES] ([id_category], [name_category]) VALUES (1, N'FootBall')
INSERT [dbo].[CATEGORIES] ([id_category], [name_category]) VALUES (2, N'Badminton')
INSERT [dbo].[CATEGORIES] ([id_category], [name_category]) VALUES (3, N'BasketBall')
SET IDENTITY_INSERT [dbo].[CATEGORIES] OFF
GO
SET IDENTITY_INSERT [dbo].[CUSTOMERS] ON 

INSERT [dbo].[CUSTOMERS] ([id_customer], [name_customer], [phone], [address]) VALUES (1, N'Phạm Hoàng Công Quân', N'0564', N'Thủ Đức')
INSERT [dbo].[CUSTOMERS] ([id_customer], [name_customer], [phone], [address]) VALUES (2, N'Phạm Thanh Tùng', N'0790', N'Thủ Đức')
INSERT [dbo].[CUSTOMERS] ([id_customer], [name_customer], [phone], [address]) VALUES (3, N'Phoenix', N'0564', N'Thủ Đức')
SET IDENTITY_INSERT [dbo].[CUSTOMERS] OFF
GO
SET IDENTITY_INSERT [dbo].[PRODUCTS] ON 

INSERT [dbo].[PRODUCTS] ([id_product], [name_product], [description], [price], [stock], [id_category], [id_brand], [image_path]) VALUES (1, N'Vợt Cầu lông Yonex Astrox 77 Pro Đỏ China Limited', N' Vợt Cầu Lông Yonex Astrox 77 Pro Đỏ China Limited là phiên bản được thiết kế tri ân cho VĐV Chen Yu Fei, tay vợt đơn nữ số 1 của Trung Quốc. Đây chắc chắn sẽ là một cây vợt mà bất cứ ai hâm mộ tay vợt này cũng không thể bỏ qua. 
Ở phiên bản lần này, ngay vị trí cổ vợt có thêm phần chữ kí của tay vợt', CAST(14990000 AS Decimal(18, 0)), 0, 2, 1, N'images/products/votyonexastrox77prodo.jpg')
INSERT [dbo].[PRODUCTS] ([id_product], [name_product], [description], [price], [stock], [id_category], [id_brand], [image_path]) VALUES (3, N'Vợt cầu lông Lining Axforce 80 Light', N' Vợt cầu lông Lining Axforce 80 Light sở hữu tông màu trắng chủ đạo, kết hợp với các chi tiết tinh tế tạo nên vẻ ngoài hiện đại, sang trọng. 
Thiết kế này không chỉ giúp vợt trở nên nổi bật hơn trên sân đấu mà còn tạo cảm giác thanh lịch, phù hợp với những người chơi yêu thích sự tối giản nhưng không kém phần đẳng cấp.', CAST(4690000 AS Decimal(18, 0)), 9, 2, 2, N'images/products/votliningaxforce80light.jpg')
SET IDENTITY_INSERT [dbo].[PRODUCTS] OFF
GO
SET IDENTITY_INSERT [dbo].[ROLES] ON 

INSERT [dbo].[ROLES] ([id_role], [name_role]) VALUES (1, N'Quản lý')
INSERT [dbo].[ROLES] ([id_role], [name_role]) VALUES (2, N'Nhân viên')
SET IDENTITY_INSERT [dbo].[ROLES] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__ACCOUNTS__AB6E61648046ECC0]    Script Date: 12/31/2025 1:06:59 PM ******/
ALTER TABLE [dbo].[ACCOUNTS] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ACCOUNTS] ADD  DEFAULT (CONVERT([nvarchar](36),newid())) FOR [Salt]
GO
ALTER TABLE [dbo].[ADMINS] ADD  DEFAULT ((1)) FOR [status]
GO
ALTER TABLE [dbo].[ORDERS] ADD  DEFAULT (getdate()) FOR [createdAT]
GO
ALTER TABLE [dbo].[ACCOUNTS]  WITH CHECK ADD FOREIGN KEY([id_role])
REFERENCES [dbo].[ROLES] ([id_role])
GO
ALTER TABLE [dbo].[ADMINS]  WITH CHECK ADD FOREIGN KEY([id_account])
REFERENCES [dbo].[ACCOUNTS] ([id_account])
GO
ALTER TABLE [dbo].[ORDERDETAILS]  WITH CHECK ADD FOREIGN KEY([id_order])
REFERENCES [dbo].[ORDERS] ([id_order])
GO
ALTER TABLE [dbo].[ORDERDETAILS]  WITH CHECK ADD FOREIGN KEY([id_product])
REFERENCES [dbo].[PRODUCTS] ([id_product])
GO
ALTER TABLE [dbo].[ORDERS]  WITH CHECK ADD FOREIGN KEY([id_admin])
REFERENCES [dbo].[ADMINS] ([id_admin])
GO
ALTER TABLE [dbo].[ORDERS]  WITH CHECK ADD FOREIGN KEY([id_customer])
REFERENCES [dbo].[CUSTOMERS] ([id_customer])
GO
ALTER TABLE [dbo].[PRODUCTS]  WITH CHECK ADD FOREIGN KEY([id_brand])
REFERENCES [dbo].[BRANDS] ([id_brand])
GO
ALTER TABLE [dbo].[PRODUCTS]  WITH CHECK ADD FOREIGN KEY([id_category])
REFERENCES [dbo].[CATEGORIES] ([id_category])
GO
USE [master]
GO
